/* Общие стили для всех устройств */
.Apps {
  text-align: center;
  background-color: #f0f0f0;
}

html{
  background-color: #212121;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imagge-tg {
  width: 13%;
}

.title-text {
  font-size: 150%;
  margin-top: 2%;
}

.add-text {
  font-size: 65%;
  color: #aaaaaa;
  white-space: pre-wrap;
  margin-top: -2%;
}

.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

.polevvod {
  padding: 0%;
  margin-top: -27%;
  margin-left: -7%;
}

.button {
  background-color: #7b71c5;
  color: #fff;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10%;
  margin-left: 1%;
  width: 141%;
  height: 50px;
}

.button:hover {
  background-color: #7b71c5d8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Стили для телефонов */
@media only screen and (max-width: 600px) {
  .polevvod {
    padding: 10%;
    margin-top: -2%;
    margin-left: -25%;
  }
  .imagge-tg{
    width:45%;
    margin-top: -25%;
  }
  .title-text{
    font-size: 120%;
    margin-top: 7%;
  }
  .add-text{
    font-size:smaller;
    margin-top: -3%;
  }
}



/* Стили для ПК и других устройств */
@media only screen and (min-width: 601px) {
  .polevvod {
    padding: 30%;
  }
}
